#bookDisplay{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.bookCard{
    border: 1px solid black;
    padding: 5px;
}

#labelInput{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#labelInput > div{
    display: flex;
    flex-direction: column;
}

#labels > label{
    height: 21px;
}

.bookBtns{
    display: flex;
    justify-content: space-between;
}
